body {
  margin:0;
  color:white;
}

.header {
  outline: 3px solid red;
}

.nav-belt {
  background-color: #131921;
  display: flex;
  margin: .5rem;
height:60px

}

.location-slot {
  width:auto;
}
.nav-middle {
  width: auto;
  outline: 3px solid red;
  flex: 1 1 auto;
}
.nav-left {
  width: auto;
  display: flex;
  outline: 3px solid red

}
.nav-right {
  width: auto;
  outline: 3px solid red

}
.nav-search {
  outline: 3px solid blue;
  margin-inline:1rem;

}

.nav-fill {
  display: flex;
  outline: 3px solid blue;
  flex: 1 1 auto;

}

form {
  display: flex;
}
.nav-input {
  display: flex;
  width: 100%;
}
a :hover {
  outline: 2px solid white;
}

.hello-block {
  display: flex;
  flex-flow: column nowrap;
}